.btn {
  border-radius: 20px;
}

.search-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
}

.btn-search {
  border-radius: 4px;
  width: 32px;
  height: 33px;
  background-color: #66eb9a;
  margin-left: 1px;
}

.btn-default.btn-search {
  border-color: #66eb9a !important;
}

.form-search {
  height: 32px;
  max-width: 300px;
}

.glyphicon-search:before {
  content: "\E003";
  position: absolute;
  top: 4px;
  right: 7px;
}

.body-container {
  min-height: 60vh;
}

.cover-img {
  min-width: 300px;
  height: 600px;
}

img.card-img-top {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  margin-bottom: 50px;
}

.product-card-ctn:hover img.card-img-top {
  -webkit-box-shadow: 0 4px 9px 0 #ccc;
          box-shadow: 0 4px 9px 0 #ccc;
}

.solded {
  -webkit-text-decoration: line-through #66eb9a;
          text-decoration: line-through #66eb9a;
}

.soldes {
  color: #66eb9a;
}

.size-form {
  width: 70px;
}

.logo-wef,
.logo-wef a {
  color: #66eb9a !important;
}

.navbar {
  border-radius: 0px;
}

.nav-item,
.nav-link {
  color: #fff !important;
}

.nav-item a,
.nav-link a {
  color: #fff !important;
}

.navbar-default {
  border-color: #000;
}

li.nav-item.active a {
  background-color: #211f1f !important;
}

.flex-form {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 7px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.margin-btm-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

footer {
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 50px;
  position: relative;
  bottom: 0px;
}

footer li a {
  color: #fff;
}

footer li a:hover {
  color: #9f9f9f;
}

footer h4 {
  color: #66eb9a;
}

footer ul {
  padding-left: 0px;
}

footer li {
  list-style-type: none;
}

